.section {
  background-color: #FFFFFF;
  width: 40%;
  height: auto;
  margin: 20px auto;
  border-radius: 5px;
  box-shadow: 1px 1px 3px 1px rgba(230, 233, 237, 1);
  padding: 20px;
}

.title {
  font-weight: 600;
  margin-bottom: 30px;
  text-transform: uppercase;
}

