.button {
  border: black 1px solid;
  background-color: white;
  border-radius: 7px;
  padding: 4px 7px;
  cursor: pointer;
  display: block;
}

.label {
  margin-bottom: 7px;
}

.input {
  margin-bottom: 20px;
}
